{% extends "layout.html" %}
{% block content %}
            <div id="profilesec">
                <div id="profile_pic">
                    <img class="pic" src="/static/img/maxresdefault.jpg">
                    <div style="position: relative; float: left; height: 250px; width: 410px; background-color: white;" id="sta">
                      <label id="sta-label" class="label-css" for="sta-panel">Offence</label>
                        <div class="line-divider"></div>
                      <div id="sta-panel">
                          <div class="left-ref">
                              <div class="poiref"><p class="value-text">Status:</p></div>
                              <div class="poiref"><p class="value-text">Diary Entry #:</p></div>
                              <div class="poiref"><p class="value-text">Location of Offence:</p></div>
                              <div class="poiref"><p class="value-text">Sign. Landmark Nearby:</p></div>
                              <div class="poiref"><p class="value-text">Offence:</p></div>
                              <div class="poiref"><p class="value-text">Offence Code:</p></div>
                              <div class="poiref"><p class="value-text">Date And Time Reported:</p></div>
                              <div class="poiref"><p class="value-text">Weapon Used:</p></div>
                              
                          </div>
                           <div class="right-ref">
                              <div class="poiref"><p class="value-text">N/A</p></div>
                              <div class="poiref"><p class="value-text">N/A</p></div>
                              <div class="poiref"><p class="value-text">N/A</p></div>
                              <div class="poiref"><p class="value-text">N/A</p></div>
                              <div class="poiref"><p class="value-text">N/A</p></div>
                              <div class="poiref"><p class="value-text">N/A</p></div>
                              <div class="poiref"><p class="value-text">N/A</p></div>
                              <div class="poiref"><p class="value-text">N/A</p></div>
                          </div>
                        </div>
                     </div>
                </div>
                <div id="disbig">
                    <div id="profile_info">
                <div style="position: relative; float: left; height: 250px; width: 710px; background-color: white;" id="desc">
                      <label id="desc-label" class="label-css" for="desc-panel">Victim Info</label>
                        <div class="line-divider"></div>
                      <div id="desc-panel">
                          <div class="left-ref">
                              <div class="poiref"><p class="value-text">Name of Victim:</p></div>
                              <div class="poiref"><p class="value-text">Address of Victim:</p></div>
                              <div class="poiref"><p class="value-text">Age of Victim:</p></div>
                              <div class="poiref"><p class="value-text">Height of Victim:</p></div>
                              <div class="poiref"><p class="value-text">Ethnicity of Victim:</p></div>
                              
                              
                          </div>
                           <div class="right-ref2">
                              <div class="poiref"><p class="value-text">N/A</p></div>
                              <div class="poiref"><p class="value-text">N/A</p></div>
                              <div class="poiref"><p class="value-text">N/A</p></div>
                              <div class="poiref"><p class="value-text">N/A</p></div>
                              <div class="poiref"><p class="value-text">N/A</p></div>
                              
                              
                          </div>
                        </div>
                     </div>    
                
                
            
            

                </div>
                </div>
            </div>
{% endblock %}