{% extends "layout.html" %}
{% block content %}

	
	<img src="{{ url_for('uploaded_file', filename=filename) }}" alt="Photograph of Person of Interest" height="200" width="200"/>
	
    <div>{{ rv1 }}</div>
    <div>{{ rv2 }}</div>
    <div>{{ rv3 }}</div>
    <div>{{ rv4 }}</div>
    <div>{{ rv5 }}</div>
    <div>{{ rv6 }}</div>
    <div>{{ rv7 }}</div>
    <div>{{ rv8 }}</div>
    <div>{{ rv9 }}</div>
    <div>{{ rv10 }}</div>
    <div>{{ rv11 }}</div>
    <div>{{ rv12 }}</div>
    <div>{{ rv13 }}</div>
    <div>{{ rv14 }}</div>
    <div>{{ rv15 }}</div>
    <div>{{ rv16 }}</div>
    <div>{{ rv17 }}</div>
    <div>{{ rv18 }}</div>
    <div>{{ rv19 }}</div>
    <div>{{ rv20 }}</div>
    <div>{{ rv21 }}</div>
    <div>{{ rv22 }}</div>
    <div>{{ rv23 }}</div>
    <div>{{ rv24 }}</div>
    <div>{{ rv25 }}</div>
    <div>{{ rv26 }}</div>

{% endblock %}